<template>
  <div class="body">
    <!-- <h1>This is an general page</h1>

    <div class="col" v-for="item in dataSource" :key="item.wbs_id">
      level: {{ item.level }} <br>
      actual_total: {{ item.actual_total }}
    </div> -->

  <!-- <div id="app" class="body"> -->
    <div class="bg-dots"></div>
    <div class="box-left"></div>
    <div class="box-right"></div>
    <div class="box-bottom"></div>
    <div class="conteiner">
      <div class="d-flex content justify-content-center">
          <div v-if="user" class="col wrapper-login">
            <h2>User Information</h2>
            <p>Username: {{ user.name }}</p>
            <p>Email: {{ user.email }}</p>
            <md-button class="md-stroked" @click="logout">logout</md-button>
          </div>
          <div v-else class="col wrapper-login">
              <p class="alert alert-info text-start">
                Email: test@example.com <br>
                Password: password
              </p>

              <h1>Login</h1>
            <md-field>
              <label>Email</label>
              <md-input v-model="email" type="text" placeholder="Email" name="email" required></md-input>
            </md-field>
            <md-field>
              <label>Password</label>
              <md-input v-model="password" type="password" placeholder="Password" name="password" required></md-input>
            </md-field>
            <div class="col text-center gridItem">
              <md-button class="md-stroked" @click="auth">login In</md-button>
              <span class="text-log"><p v-if="messageError" class="alert alert-danger">{{ messageError }}</p></span>
              <span class="text-log">
                Don't you have an account? 
                <a href="#" class="text-link">Register</a>
              </span>
              <!-- <span class="text-log">Forgot your password?</span> -->
            </div>
          </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios, { AxiosResponse } from 'axios';

@Component
export default class generalComponent extends Vue {
  @Prop() private msg!: string;

  created() {
    // this.loadData(); // Вызываем функцию при создании компонента

    // Проверка, авторизован ли пользователь при загрузке компонента
    const accessToken = localStorage.getItem('access');
    if (accessToken) {
      this.loadUserData();
    }
  }

  dataSource: any[] = []
  hello = ''
  email: any = '';
  password: any = '';
  messageError: any = '';
  user: any = null;

  private loadData() {
    axios.get('http://darkdes-django-z38bs.tw1.ru/budget/get_generate_svz/')
      .then((response: AxiosResponse) => {
        this.dataSource = response.data.data
        // Обработка успешного ответа
        console.log(response.data);
      })
      .catch((error: any) => {
        // Обработка ошибки
        console.error(error);
      });
  }
 
  // Проверка наличия токена доступа в localStorage
  get isAuthenticated() {
    return !!localStorage.getItem('access');
  }

  // Если пользователь авторизован, получаем его имя
  get username() {
    return localStorage.getItem('email');
  }

  auth() {
    const credentials = {
      email: this.email,
      password: this.password
    };

    axios.post('http://127.0.0.1:8000/api/auth/login', credentials)
      .then((response: AxiosResponse) => {
        const accessToken = response.data.access_token;
        localStorage.setItem('access', accessToken);
        this.messageError = '';

        // Загрузка данных о пользователе
        this.loadUserData();
      })
      .catch((error: any) => {
        setTimeout(() => {
          this.messageError = ''
        }, 5000);
        this.messageError = 'Authentication error. Check the username and password.';
        console.error(error);
      });
  }
  loadUserData() {
    const accessToken = localStorage.getItem('access');
    if (accessToken) {
      axios.get('http://127.0.0.1:8000/api/user', {
        headers: {
          'Authorization': 'Bearer ' + accessToken
        }
      })
        .then((response: AxiosResponse) => {
          this.user = response.data;
        })
        .catch((error: any) => {
          console.error(error);
        });
    }
  }

  logout() {
    localStorage.removeItem('access'); // Очистка токена доступа
    this.user = null; // Очистка данных о пользователе
  }
}
</script>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cinzel:wght@600&family=Libre+Baskerville&display=swap');

a {
  color: #757575 !important;
}
h1 {
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Audiowide', cursive;
}
.text-link:hover {
  color: #ff9e27 !important;
  text-decoration: none !important;
}
.md-stroked {
  border: 1px solid #cdcdcd !important;
  border-radius: 5px !important;
  margin: 0px !important;
}
.text-log {
  color: #757575;
  padding-top: 5px;
  padding-bottom: 5px;
}
.gridItem {
  display: flex;
  flex-direction: column;
}
.content {
  padding-top: 20vh;
  padding-bottom: 34vh;
}
.wrapper-login {
  background: #ffffff;
  max-width: 450px;
  border-radius: 5px;
  padding: 50px;
  z-index: 1;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.md-button.md-theme-default.md-raised:not([disabled]) {
  background: #ff9e27;
  border-radius: 5px;
}
.box-bottom {
  position: absolute;
  bottom: -260px;
  width: 700px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 250px;
  text-align: center;
  background-color: #ffffff;
  background-image: url(../assets/bottom.png);
  background-size: 8%;
  transform: rotate(150deg);
  filter: drop-shadow(-5px 5px 8px #223c5066);
}
.box-right {
  position: absolute;
  top: 350px;
  right: -350px;
  width: 600px;
  height: 350px;
  background-color: #ffffff;
  background-image: url(../assets/right.png);
  background-size: 85%;
  transform: rotate(60deg);
  filter: drop-shadow(-5px 5px 8px #223c5066);
}
.box-left {
  position: absolute;
  top: 40px;
  left: -230px;
  width: 400px;
  height: 325px;
  background: repeating-linear-gradient(
    0deg,
    #328cc0 2px,
    #36b3ee,
    #36b3ee 10px,
    #70c2f1 10px,
    #70c2f1 20px
  );
  transform: rotate(150deg);
  filter: drop-shadow(-5px -5px 8px #223c5066);
}
.bg-dots {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 1;
  background-image: radial-gradient(#ffffff7a 1.05px, #319ed600 1.05px);
  background-size: 21px 21px;
  z-index: -1;
}
.body {
  display: flex;
  position: fixed;
  background: linear-gradient(
    222deg, 
    #319ed6, 
    #84dfa8
  );
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>