<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src
import axios, { AxiosResponse } from 'axios';

@Component({
  components: {
    HelloWorld,
  },
})
export default class HomeView extends Vue {
  created() {
    this.loadData(); // Вызываем функцию при создании компонента
  }

  dataSource: any[] = []
  hello = ''
  
  private loadData() {
    axios.get('http://darkdes-django-z38bs.tw1.ru/budget/get_generate_svz/')
      .then((response: AxiosResponse) => {
        this.dataSource = response.data.data
        // Обработка успешного ответа
        console.log(response.data);
      })
      .catch((error: any) => {
        // Обработка ошибки
        console.error(error);
      });
  }

  myFunction() {
    this.hello = 'hello vue.js'
    console.log(this.hello)
  }
}

</script>
